<header>
  <nav class="sidenav">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/all" class="nav-link">
          <span class="link-text">All Countries</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://restcountries.eu/" class="nav-link">
          <span class="link-text">REST Countries API</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/coletistan/" class="nav-link">
          <span class="link-text">Linkedin</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/ColeTistan" class="nav-link">
          <span class="link-text">Github</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.cctistan.com" class="nav-link">
          <span class="link-text">Cole Tistan</span>
        </a>
      </li>
    </ul>
  </nav>
</header>